{% extends 'base.html' %}
{% block content %}
<h2>Laboratórios Disponíveis</h2>

<div class="list-group">
  {% for laboratorio in laboratorios %}
    <div class="list-group-item">
      <h5>{{ laboratorio.nome }}</h5>
      <p>{{ laboratorio.localizacao }}</p>
      <a href="{% url 'criar_reserva' laboratorio.id %}" class="btn btn-primary btn-sm">
        Reservar Horário
      </a>
    </div>
  {% empty %}
    <p>Nenhum laboratório disponível no momento.</p>
  {% endfor %}
</div>
{% endblock %}