{% extends 'base.html' %}
{% block content %}
<h2>Laboratórios Disponíveis</h2>

<div class="list-group">
  {% for laboratorio in laboratorios %}
    <a href="#" class="list-group-item list-group-item-action">
      {{ laboratorio.nome }} - {{ laboratorio.localizacao }}
    </a>
  {% empty %}
    <p>Nenhum laboratório disponível no momento.</p>
  {% endfor %}
</div>

{% if eh_admin %}
  <a href="{% url 'cadastrar_laboratorio' %}" class="btn btn-primary mt-3">
    Cadastrar Novo Laboratório
  </a>
{% endif %}
{% endblock %}