{% extends 'base.html' %}

{% block title %}Login | LabFlow{% endblock %}

{% block content %}
    <div class="card p-4 bg-dark bg-opacity-75 text-white rounded-4" style="max-width: 400px; margin: auto;">
        <h2 class="mb-4">Entrar no sistema</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Usuário:</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password">Senha:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-light">Entrar</button>
        </form>
    </div>
{% endblock %}
